{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		{{ form(form) }}
		</div>
		<div class="container-fluid p-5">
			{% if Susar %}
				{# <h3 class="text-center">Cas France - décès et cas France - Pronostic vital</h3> #}
				{# <table class="table table-sm table-bordered table-hover text-center"> #}
				Nombre de lignes :
				{{ NbSusar }}
					<table class="table table-sm table-bordered table-hover text-center ms-3 me-3"> <thead class="table-secondary">
						<th scope="col">numero cas BNPV</th>
						<th scope="col">F.U. BNPV</th>
						<th scope="col">statusdate</th>
						<th scope="col-2">studytitle</th>
						<th scope="col">world wide id</th>
						<th scope="col">num_eudract</th>
						<th scope="col">sponsor study number</th>
						<th scope="col">produit(s)</th>
						<th scope="col">substance(s) active(s)</th>
						<th scope="col">indication</th>
						<th scope="col">DMM/Pôle</th>
						<th scope="col">Date d'aiguillage (DMFR)</th>
						<th scope="col">Date d'import (DMFR)</th>
					</thead>
					<tbody>
						{% for cas in Susar %}
							<tr>
								<th scope="row">
									<a href="{{ path('app_affiche_susar',{'master_id':cas.MasterId}) }}">{{ cas.specificcaseid|e }}</a>
								</th>
								<td>{{ cas.DLPVersion|e }}</td>
								<td>{{ cas.statusdate|format_datetime('short', 'none', locale='fr') }}</td>
								<td>{{ cas.studytitle|e }}</td>
								<td>{{ cas.WorldWideId|e }}</td>
								<td>{{ cas.NumEudract|e }}</td>
								<td>{{ cas.sponsorstudynumb|e }}</td>
								<td>{{ cas.productname|e }}</td>
								<td>{{ cas.substancename|e }}</td>
								<td>{{ cas.indication|e }}</td>
								{% if cas.intervenantANSM != null %}
									<td>{{ cas.intervenantANSM.getDMMPole() }}</td>
								{% else %}
									<td>Non-attribué</td>
								{% endif %}
								{% if cas.dateAiguillage != null %}
									<td>{{ cas.dateAiguillage|format_datetime(locale='fr') }}</td>
								{% else %}
									<td>---</td>
								{% endif %}
								{% if cas.dateImport != null %}
									<td>{{ cas.dateImport|format_datetime(locale='fr') }}</td>
								{% else %}
									<td>---</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	{% endblock %}
