{% extends 'base.html.twig' %}

{% block body %}

{{ encore_entry_link_tags('glossaire_css') }}

{% block javascripts %}
	{{ encore_entry_script_tags('glossaire') }}
{% endblock %}

<div class="container-fluid">

	{{ form_start(form) }}

	{% include "_partials/_affiche_dmfr_susar.html.twig" %}

	<div class="row">
		<div class="col-3">
			{{ form_widget(form.Save) }}
		</div>
	</div>
	
	{{ form_end(form) }}
	
	{% include "_partials/_rech_glossaire.html.twig" %}

</div>

{% endblock %}
