{% extends 'base.html.twig' %}

{% block body %}


{% block javascripts %}
	{{ encore_entry_script_tags('listeEvalSusar') }}
{% endblock %}

<div class="container-fluid p-5">
	{{form_start(form)}}

	<div class="row">
		<div class="col-2">
			{{ form_label(form.specificcaseid, 'Num. BNPV :') }}
			{{ form_widget(form.specificcaseid) }}
		</div>
		<div class="col-1">
			{{ form_label(form.DLPVersion, 'F.U. BNPV :') }}
			{{ form_widget(form.DLPVersion) }}
		</div>
		<div class="col-2">
			{{ form_label(form.worldWide_id, 'world wide id :') }}
			{{ form_widget(form.worldWide_id) }}
		</div>
		<div class="col-2">
			{{ form_label(form.num_eudract, 'N° EudraCT :') }}
			{{ form_widget(form.num_eudract) }}
		</div>
		<div class="col-2">
			{{ form_label(form.sponsorstudynumb, 'Sponsor study number :') }}
			{{ form_widget(form.sponsorstudynumb) }}
		</div>
		<div class="col-2">
			{{ form_label(form.studytitle, 'Titre de l\'étude :') }}
				{{ form_widget(form.studytitle) }}
			</div>
		</div>


		<div class="row">
			<div class="col-3">
				{{ form_label(form.productName, 'Produit(s) :') }}
				{{ form_widget(form.productName) }}
			</div>
			<div class="col-3">
				{{ form_label(form.substanceName, 'substance(s) active(s) :') }}
				{{ form_widget(form.substanceName) }}
			</div>
			<div class="col-3">
				{{ form_label(form.indication, 'Indication :') }}
				{{ form_widget(form.indication) }}
			</div>
			<div class="col-3">
				{{ form_label(form.indication_eng, 'Indication (anglais) :') }}
				{{ form_widget(form.indication_eng) }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form_label(form.intervenantANSM, 'Intervenant ANSM :') }}
				{{ form_widget(form.intervenantANSM) }}
			</div>
			<div class="col-3">
				{{ form_label(form.mesureAction, 'Mesure / Action :') }}
				{{ form_widget(form.mesureAction) }}
			</div>



			{% if typeIntervenantANSM == 'DMFR' %}
				<div class="col-1">
					{{ form_label(form.debutStatusDate, 'Début date création BNPV :') }}
					{{ form_widget(form.debutStatusDate) }}
				</div>
				<div class="col-1">
					{{ form_label(form.finStatusDate, 'Fin date création BNPV :') }}
					{{ form_widget(form.finStatusDate) }}
				</div>
				<div class="col-1">
					{{ form_label(form.debutDateAiguillage, 'Début date aiguillage (DMFR) :') }}
					{{ form_widget(form.debutDateAiguillage) }}
				</div>
				<div class="col-1">
					{{ form_label(form.finDateAiguillage, 'Fin date aiguillage (DMFR) :') }}
					{{ form_widget(form.finDateAiguillage) }}
				</div>
				<div class="col-1">
					{{ form_label(form.aiguille, 'Susar aiguillé :') }}
					{{ form_widget(form.aiguille) }}
				</div>

			
			{% elseif typeIntervenantANSM == 'DMM' %}
				<div class="col-1">
					{{ form_label(form.debutDateAiguillage, 'Début date aiguillage (DMFR) :') }}
					{{ form_widget(form.debutDateAiguillage) }}
				</div>
				<div class="col-1">
					{{ form_label(form.finDateAiguillage, 'Fin date aiguillage (DMFR) :') }}
					{{ form_widget(form.finDateAiguillage) }}
				</div>
				<div class="col-1">
					{{ form_label(form.debutDateEvaluation, 'Début date évaluation :') }}
					{{ form_widget(form.debutDateEvaluation) }}
				</div>
				<div class="col-1">
					{{ form_label(form.finDateEvaluation, 'Fin date évaluation :') }}
					{{ form_widget(form.finDateEvaluation) }}
				</div>
				<div class="col-1">
					{{ form_label(form.evalue, 'Susar évalué :') }}
					{{ form_widget(form.evalue) }}
				</div>

			{% else %}
			
			{% endif %}

		</div>
		<div class="row">

			{% if typeIntervenantANSM == 'DMFR' %}
				<div class="col-8">

				</div>

				<div class="col-1">
					{{ form_label(form.debutDateImport, 'Début date import :') }}
					{{ form_widget(form.debutDateImport) }}
				</div>
				<div class="col-1">
					{{ form_label(form.finDateImport, 'Fin date import :') }}
					{{ form_widget(form.finDateImport) }}
				</div>


			{% elseif typeIntervenantANSM == 'DMM' %}

				<div class="col-10">

				</div>

			{% else %}
			
			{% endif %}

			<div class="col-1">
				{{ form_label(form.recherche, 'Recherche') }}
				{{ form_widget(form.recherche) }}
			</div>
			<div class="col-1">
				{{ form_label(form.reset, 'Reset') }}
				{{ form_widget(form.reset) }}
			</div>

		</div>

	{{form_end(form)}}
			{# {{ form(form) }} #}


	</div>

		<div class="container-fluid">
			{% if Susars %}
			
				Nombre de lignes : {{ NbSusar }}
				<h3>Liste des SUSARs</h3>
				{# {{dump(Susars)}} #}
				<table class="table table-sm table-bordered table-hover text-center">
					<thead class="table-secondary">
						<tr>
							{# <th scope="col">master_id (numero cas BNPV)</th> #}
							{# <th scope="col">caseid</th> #}
							{# <th scope="col">specificcaseid</th> #}
							<th scope="col">numero cas BNPV</th>
							<th scope="col">F.U. BNPV</th>
							{# <th scope="col">creationdate</th> #}
							<th scope="col">statusdate</th>
							<th scope="col-2">studytitle</th>
							<th scope="col">world wide id</th>
							<th scope="col">num_eudract</th>
							<th scope="col">sponsor study number</th>
							{# <th scope="col">pays_survenue</th> #}
							{# <th scope="col">TypeSusar</th> #}
							<th scope="col">produit(s)</th>
							<th scope="col">substance(s) active(s)</th>
							<th scope="col">indication</th>
							{# <th scope="col">indication (angl.)</th> #}
							<th scope="col">DMM/Pôle</th>
							{% if typeIntervenantANSM == 'DMFR' %}
								<th scope="col">Date d'import (DMFR)</th>
							{% elseif typeIntervenantANSM == 'DMM' %}

							{% else %}

							{% endif %}							
							<th scope="col">Date d'aiguillage (DMFR)</th>
							<th scope="col">Mesure/Action</th>
							<th scope="col">Utilisateur/date d'évaluation</th>
						</tr>
					</thead>
					<tbody>
						{% for Susar in Susars %}
							<tr>
								
								{# <th scope="row">{{ Susar.MasterId|e }}</th> #}
								<th scope="row">

								{# {% if typeIntervenantANSM == 'DMFR' %}
								<a href="{{ path('app_affiche_dmfr_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% elseif typeIntervenantANSM == 'DMM' %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% else %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% endif %} #}

								{% if typeIntervenantANSM == 'DMFR' %}
								<a href="{{ path('app_affiche_dmfr_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.specificcaseid|e }}</a>
								{% elseif typeIntervenantANSM == 'DMM' %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.specificcaseid|e }}</a>
								{% else %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.specificcaseid|e }}</a>
								{% endif %}
								
								</th>
								{# <td>{{ Susar.caseid|e }}</td> #}
								{# <td>{{ Susar.specificcaseid|e }}</td> #}
								<td>{{ Susar.DLPVersion|e }}</td>
								{# <td>{{ Susar.creationdate|format_datetime('short', 'none', locale='fr') }}</td> #}
								<td>{{ Susar.statusdate|format_datetime('short', 'none', locale='fr') }}</td>
								<td>{{ Susar.studytitle|e }}</td>
								<td>{{ Susar.WorldWideId|e }}</td>
								<td>{{ Susar.NumEudract|e }}</td>
								<td>{{ Susar.sponsorstudynumb|e }}</td>
								{# <td>{{ Susar.PaysSurvenue|e }}</td> #}
								{# <td>{{ Susar.TypeSusar|e }}</td> #}
								<td>{{ Susar.productname|e }}</td>
								<td>{{ Susar.substancename|e }}</td>
								<td>{{ Susar.indication|e }}</td>
								{# <td>{{ Susar.indicationEng|e }}</td> #}
								{% if Susar.intervenantANSM != null %}
									<td>{{ Susar.intervenantANSM.getDMMPole() }}</td>
								{% else %}
									<td>Non-attribué</td>
								{% endif %}

								{% if typeIntervenantANSM == 'DMFR' %}
									{% if Susar.dateImport != null %}
										<td>{{ Susar.dateImport|format_datetime(locale='fr') }}</td>
									{% else %}
										<td>---</td>
									{% endif %}
								{% elseif typeIntervenantANSM == 'DMM' %}

								{% else %}

								{% endif %}	

								{% if Susar.dateAiguillage != null %}
									<td>{{ Susar.dateAiguillage|format_datetime(locale='fr') }}</td>
								{% else %}
									<td>---</td>
								{% endif %}
								{% if Susar.MesureAction != null %}
									<td>{{ Susar.MesureAction.getLibelle() }}</td>
								{% else %}
									<td>Non-évalué</td>
								{% endif %}
								{% if Susar.dateEvaluation != null and Susar.utilisateurEvaluation != null  %}
									<td>
										{% if Susar.utilisateurEvaluation != null  %}
											{{ Susar.utilisateurEvaluation }}
										{% else %}	
											--
										{% endif %}
										<BR>
										{% if Susar.dateEvaluation != null %}
											{{ Susar.dateEvaluation|format_datetime(locale='fr') }}
										{% else %}	
											--
										{% endif %}
									</td>
									{# <td>{{ Susar.dateEvaluation|format_datetime(locale='fr') }}</td> #}
									{# <td>{{ Susar.dateEvaluation|format_datetime(locale='fr') }}<BR>{{ Susar.utilisateurEvaluation }}</td> #}
								{% else %}
									<td>---</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{# <h2>{{ Susar.studytitle }}</h2> #}
				{# <div>{{ Susar.num_eudract }}</div> #}

				{{ knp_pagination_render(Susars) }}
			{% endif %}
		</div>

	{% endblock %}
