{% extends 'base.html.twig' %}

{% block title %}Liste des SUSARs
{% endblock %}

{% block body %}


{% block javascripts %}
	{{ encore_entry_script_tags('listeEvalSusar') }}
{% endblock %}

<div class="container-fluid p-5">
	{{form_start(form)}}

	<div class="row">
		<div class="col-2">
			{{ form_label(form.master_id, 'Master_id :') }}
			{{ form_widget(form.master_id) }}
		</div>
		<div class="col-2">
			{{ form_label(form.DLPVersion, 'DLP version :') }}
			{{ form_widget(form.DLPVersion) }}
		</div>
		<div class="col-2">
			{{ form_label(form.caseid, 'Case_id :') }}
			{{ form_widget(form.caseid) }}
		</div>
		<div class="col-2">
			{{ form_label(form.num_eudract, 'N° EudraCT :') }}
			{{ form_widget(form.num_eudract) }}
		</div>
		<div class="col-2">
			{{ form_label(form.sponsorstudynumb, 'Sponsor study number :') }}
			{{ form_widget(form.sponsorstudynumb) }}
		</div>
		<div class="col-2">
			{{ form_label(form.studytitle, 'Titre de l\'étude :') }}
				{{ form_widget(form.studytitle) }}
			</div>
		</div>


		<div class="row">
			<div class="col-3">
				{{ form_label(form.productName, 'Produit :') }}
				{{ form_widget(form.productName) }}
			</div>
			<div class="col-3">
				{{ form_label(form.substanceName, 'Substance :') }}
				{{ form_widget(form.substanceName) }}
			</div>
			<div class="col-3">
				{{ form_label(form.indication, 'Indication :') }}
				{{ form_widget(form.indication) }}
			</div>
			<div class="col-3">
				{{ form_label(form.indication_eng, 'Indication (anglais) :') }}
				{{ form_widget(form.indication_eng) }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form_label(form.intervenantANSM, 'Intervenant ANSM :') }}
				{{ form_widget(form.intervenantANSM) }}
			</div>
			<div class="col-3">
				{{ form_label(form.mesureAction, 'Mesure / Action :') }}
				{{ form_widget(form.mesureAction) }}
			</div>
			<div class="col-1">
				{{ form_label(form.debutDateAiguillage, 'Début date aiguillage :') }}
				{{ form_widget(form.debutDateAiguillage) }}
			</div>
			<div class="col-1">
				{{ form_label(form.finDateAiguillage, 'Fin date aiguillage :') }}
				{{ form_widget(form.finDateAiguillage) }}
			</div>
			<div class="col-1">
				{{ form_label(form.evalue, 'Susar évalué :') }}
				{{ form_widget(form.evalue) }}
			</div>
		</div>
		<div class="row">
			<div class="col-10">

			</div>
			<div class="col-1">
				{{ form_label(form.recherche, 'Recherche') }}
				{{ form_widget(form.recherche) }}
			</div>
			<div class="col-1">
				{{ form_label(form.reset, 'Reset') }}
				{{ form_widget(form.reset) }}
			</div>

		</div>

	{{form_end(form)}}
			{# {{ form(form) }} #}


	</div>

		<div class="container-fluid">
			{% if Susars %}
			
				Nombre de lignes : {{ NbSusar }}
				<h3>Liste des SUSARs</h3>
				{# {{dump(Susars)}} #}
				<table class="table table-sm table-bordered table-hover text-center">
					<thead class="table-secondary">
						<tr>
							<th scope="col">master_id</th>
							<th scope="col">caseid</th>
							<th scope="col">specificcaseid</th>
							<th scope="col">DLPVersion</th>
							<th scope="col">creationdate</th>
							{# <th scope="col">statusdate</th> #}
							<th scope="col-2">studytitle</th>
							<th scope="col">sponsorstudynumb</th>
							<th scope="col">num_eudract</th>
							<th scope="col">pays_survenue</th>
							{# <th scope="col">TypeSusar</th> #}
							<th scope="col">produit(s)</th>
							<th scope="col">substance(s)</th>
							<th scope="col">indication</th>
							<th scope="col">indication (angl.)</th>
							<th scope="col">DMM/Pôle</th>
							<th scope="col">Date d'aiguillage</th>
							<th scope="col">Mesure/Action</th>
							<th scope="col">Date d'évaluation</th>
						</tr>
					</thead>
					<tbody>
						{% for Susar in Susars %}
							<tr>
								{# <th scope="row">{{ Susar.MasterId|e }}</th> #}
								<th scope="row">

								{% if typeIntervenantANSM == 'DMFR' %}
								<a href="{{ path('app_affiche_dmfr_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% elseif typeIntervenantANSM == 'DMM' %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% else %}
								<a href="{{ path('app_affiche_eval_susar',{'master_id':Susar.MasterId}) }}" target="_blank">{{ Susar.MasterId|e }}</a>
								{% endif %}
								
								</th>
								<td>{{ Susar.caseid|e }}</td>
								<td>{{ Susar.specificcaseid|e }}</td>
								<td>{{ Susar.DLPVersion|e }}</td>
								<td>{{ Susar.creationdate|format_datetime('short', 'none', locale='fr') }}</td>
								{# <td>{{ Susar.statusdate|format_datetime('short', 'none', locale='fr') }}</td> #}
								<td>{{ Susar.studytitle|e }}</td>
								<td>{{ Susar.sponsorstudynumb|e }}</td>
								<td>{{ Susar.NumEudract|e }}</td>
								<td>{{ Susar.PaysSurvenue|e }}</td>
								{# <td>{{ Susar.TypeSusar|e }}</td> #}
								<td>{{ Susar.productname|e }}</td>
								<td>{{ Susar.substancename|e }}</td>
								<td>{{ Susar.indication|e }}</td>
								<td>{{ Susar.indicationEng|e }}</td>
								{% if Susar.intervenantANSM != null %}
									<td>{{ Susar.intervenantANSM.getDMMPole() }}</td>
								{% else %}
									<td>Non-attribué</td>
								{% endif %}
								{% if Susar.dateAiguillage != null %}
									<td>{{ Susar.dateAiguillage|format_datetime(locale='fr') }}</td>
								{% else %}
									<td>---</td>
								{% endif %}
								{% if Susar.MesureAction != null %}
									<td>{{ Susar.MesureAction.getLibelle() }}</td>
								{% else %}
									<td>Non-évalué</td>
								{% endif %}
								{% if Susar.dateEvaluation != null %}
									<td>{{ Susar.dateEvaluation|format_datetime(locale='fr') }}</td>
								{% else %}
									<td>---</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{# <h2>{{ Susar.studytitle }}</h2> #}
				{# <div>{{ Susar.num_eudract }}</div> #}

				{{ knp_pagination_render(Susars) }}
			{% endif %}
		</div>

	{% endblock %}
