{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

	{{ encore_entry_link_tags('glossaire_css') }}

	{% block javascripts %}
		{{ encore_entry_script_tags('glossaire') }}
	{% endblock %}

	{# {{ form(form) }} #}

	<div class="container">
		{{ form_start(form) }}
		<div class="row">
			<div class="col-4">
				{{ form_label(form.master_id, 'Master_id :') }}
				{{ form_widget(form.master_id) }}
			</div>
			<div class="col-8">
				{{ form_label(form.intervenantANSM, 'Intervenant ANSM :') }}
				{{ form_widget(form.intervenantANSM) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ form_label(form.studytitle, 'Nom de l\'étude :') }}
				{{ form_widget(form.studytitle) }}
			</div>
			{# <div class="col-4">
				{{ form_label(form.indication, 'Indication :') }}
				{{ form_widget(form.indication) }}
			</div> #}
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.indication, 'Indication :') }}
				{{ form_widget(form.indication) }}
			</div>
			<div class="col-6">
				{{ form_label(form.indication_eng, 'Indication (anglais) :') }}
				{{ form_widget(form.indication_eng) }}
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				{{ form_widget(form.SaveAndStop) }}
			</div>
			<div class="col-3">
				{{ form_widget(form.SaveAndNext) }}
			</div>
		</div>
		{{ form_end(form) }}
		<div
			class="row">
			{# {{ dump(Susar) }} #}
			<div class="row">
				<div class="frm-json">
					<form id="aff-json">
						<input type="text" id="RechIndic" placeholder="Saisissez une indication" class="form-control">
						<button type="submit" class="btn btn-secondary m-2 btn">Recherche de DMM/Pôle</button>
					</form>

					<div id="resu-json"></div>

					<table id="TableGlossaire" class="table table-hover"></table>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
