{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Ajout d'un utilisateur</h1>

				{{ form_start(form) }}

				{% include "_partials/_user_registration_edit.html.twig" %}
				<div class="row">
					<div class="col-6">
						{{ form_label(form.plainPassword, 'Mot de passe :') }}
						{{ form_widget(form.plainPassword) }}
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						{{ form_widget(form.Inscription) }}
					</div>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
